<launch>
<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

     <!--Run move_base_seqs node-->

	<node pkg="cocktail_bot" type="test_pioneer_run.py" name="move_base_seq" output="screen">

	<!--Load sequence of points (Cartesian coordintes ert "/map" RF, in meters)-->
	    <rosparam param="p_seq">[1.5, 0, 0, 0.1, -0.15, 0, 1, 0, 0]</rosparam>

	<!--Load sequence of desired yaw angles (no rotation around x and y aces) in degrees-->
	    <rosparam param="yea_seq">[90, 0, 180]</rosparam>

	</node>

</launch>
